
p {
  font-size: 15px;
  line-height: 25px;
}

section {
  padding: 25px 0 35px;
  background: #fff;
}

body { 
  position: relative; /* we need this for the scrollspy */ 
  font-size: 14px;
}

a { color: #3CC; }

a:hover { color: #FF0; }

.primary-button a {
  display: inline-block;
  background-color: #51b5ae;
  padding: 15px 24px;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 11px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 0.5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid #51b5ae;
}

a.secondary {
  background-color: #fff;
  color: #51b5ae;
  border: 1px solid #51b5ae;
}


.parallax-content {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
}


.baner-content {
  padding-top: 10vh;
  text-align: center;
  background: #fff;
}

.map-container {
  text-align: center;
  background: #fff;
}

.baner-content h1 {
  margin-top: 0px;
  font-size: 44px;
  color: #000;
  font-weight: 100;
  text-transform: uppercase;
  margin-bottom: 0px;
}

@media (min-width: 375px) {
  .baner-content h1 {
    font-size: 72px;
  }
}

@media (min-width: 768px) {
  .baner-content h1 {
    font-size: 128px;
  }
}

.baner-content em {
  color: #51b5ae;
  font-weight: 600;
  font-style: normal;
}

.baner-content span {
  display: inline-block;
  font-weight: 100;
  font-size: 32px;
  color: #000;
}

.name {
    font-size: 48px;
    font-weight: 300;
    margin-top: -20px;
}

.baner-content .primary-button {
  margin-top: 15px;
}

h4, .h4 {
  font-size: 18px;
}


section {
  background-color: transparent;
  padding-bottom: 15px;
}

.wrapper {
  text-align: center;
}

.contact-form {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px 25px;
  margin-bottom: 30px;
}

.map {
  margin-bottom: 30px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px 20px;
}

.subtitle {
  margin-top: 15px;
}

.map-container {
  margin-top: 15px;
}

.description {
  font-size: 18px;
  font-weight: 100;
  color: #000;
  line-height: 32px;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (max-width: 767px){
  
  .baner-content {
    padding-top: 10vh;
  }

  .baner-content em {
  }

  .baner-content span {
    font-size: 24px;
  }

  .baner-content .primary-button {
    margin-top: 15px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }

  .description {
    font-size: 22px;
  }
}


.foto-title {
  margin: 15px auto;
  height: auto;
  width: 100%;
  max-width: 550px;
}

.foto-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 30px;
}

.foto-container img {
  display: block;
  width: 100%;
  max-width: 100%;
  margin: 2px 0;
}

@media (min-width: 770px) {
  .foto-container img {
    height: 200px;
    width: auto;
  }
}

@media (min-width: 1210px) {
  .foto-container img {
    height: 250px;
    width: auto;
  }
}

.review-container h2 {
  font-weight: 100;
  margin-top: 20px;
  margin-bottom: 20px;
}

.updates-container h2 {
  font-weight: 100;
  margin-top: 20px;
  margin-bottom: 20px;
}

.updates {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.updates-item {
  border: solid 1px rgba(190, 190, 190, .35);
  margin: 0 auto;
  padding: 1em;
  flex: 0 0 auto;
  width: 100%;
  max-width: 300px;
  min-width: 300px;
}

.updates-meta {
  text-align: center;
  font-size: 115%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inherit;
}

.updates-title {
  text-transform: capitalize;
  font-weight: bold;
}

.updates-date {
  opacity: .6;
  display: block;
}

.updates-text {
  line-height: 1.55;
  text-align: left;
  max-width: 32em;
  margin: auto;
}

.updates-img {
  width: 100%;
  max-width: 28em;
  margin-top: 5px;
  margin-bottom: 10px;
}

.hiden {
  display: none;
}
